$cornerSpaceSize: 75px;
$spaceSize: 53px;
$boardSize: 627px;

@import '../../../styles/colors.scss';

.board {
  border: 2px solid $gray-30;
  display: grid;
  grid-template-columns: $cornerSpaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $cornerSpaceSize;
  grid-template-rows: $cornerSpaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $spaceSize $cornerSpaceSize;
  height: $boardSize;
  padding: 1px;
  position: relative;
  width: $boardSize;

  .space {
    background: white;
    border: 2px solid black;
    cursor: default;
    display: flex;
    font-size: 10px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    transition: 0.3s all;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
